body{
    background-image: url(../img/poster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif;

}
.main{
    margin: 100px 0;
    position: relative;
}
.category{
    text-decoration: none;
    color: white;
}
.category:hover{
    color: whitesmoke;
}
.liCategory{
    padding: 5px;
    /* border: 1px solid white; */
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.2);
}
.liCategory:hover{
    border: 1px solid rgb(122, 144, 193);
    padding: 10px;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.4);
}
.card{
    background-color: rgba(255, 255, 255, 0.8);
}
.card:hover{
    transform: scale(1.05);
    transition: 0.3s;
    background-color: white;
}
.box{
    /* padding: 35px 65px; */
    background-color: rgba(255, 255, 255, 0.8);
    /* border-radius: 20px; */
}
.pilusminus{
  background-color: rgba(24, 45, 166, 0.4);
  width: 100px;
  border-radius: 15px;
}

